<a href="https://colab.research.google.com/github/AatiqahHarmine/23CSBTB30/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_excel("AIML.xlsx")
print(data)
df=pd.DataFrame(data,columns=("Student ID","Course"))
print(df)

   Student ID     S Name Course  Contact ID
0        1860    Aatiqah    CSE  9000356894
1        1176    Anushka    CSE  7889367827
2        4038    Hasitha     DS  8976553678
3        1641      Rithu    CSE  8754328766
4        1637   Shryitha    CSE  9875379282
5        1554       Achi    CSE  6379876355
6        1600      Arsha    CSE  9876546738
7        1927  Varshitha    CSE  9865527488
8        1929      Kavya    CSE  9876543210
9        4049     Rimsha   AIML  8976574321
   Student ID Course
0        1860    CSE
1        1176    CSE
2        4038     DS
3        1641    CSE
4        1637    CSE
5        1554    CSE
6        1600    CSE
7        1927    CSE
8        1929    CSE
9        4049   AIML

In [ ]:
import pandas as pd
data=pd.read_csv("AIML1.csv")
print(data)
df=pd.DataFrame(data,columns=("Student ID","Course"))
print(df)

   Student ID     S Name Course  Contact ID
0        1860    Aatiqah    CSE  9000356894
1        1176    Anushka    CSE  7889367827
2        4038    Hasitha     DS  8976553678
3        1641      Rithu    CSE  8754328766
4        1637   Shryitha    CSE  9875379282
5        1554       Achi    CSE  6379876355
6        1600      Arsha    CSE  9876546738
7        1927  Varshitha    CSE  9865527488
8        1929      Kavya    CSE  9876543210
9        4049     Rimsha   AIML  8976574321
   Student ID Course
0        1860    CSE
1        1176    CSE
2        4038     DS
3        1641    CSE
4        1637    CSE
5        1554    CSE
6        1600    CSE
7        1927    CSE
8        1929    CSE
9        4049   AIML

In [ ]:
import pandas as pd
data=pd.read_table("AIML2.txt")
print(data)
df=pd.DataFrame(data,columns=("Student ID","Course"))
print(df)

   Student ID     S Name Course  Contact ID
0        1860    Aatiqah    CSE  9000356894
1        1176    Anushka    CSE  7889367827
2        4038    Hasitha     DS  8976553678
3        1641      Rithu    CSE  8754328766
4        1637   Shryitha    CSE  9875379282
5        1554       Achi    CSE  6379876355
6        1600      Arsha    CSE  9876546738
7        1927  Varshitha    CSE  9865527488
8        1929      Kavya    CSE  9876543210
9        4049     Rimsha   AIML  8976574321
   Student ID Course
0        1860    CSE
1        1176    CSE
2        4038     DS
3        1641    CSE
4        1637    CSE
5        1554    CSE
6        1600    CSE
7        1927    CSE
8        1929    CSE
9        4049   AIML